body, html {
  margin: 0;
  height: 100%;
}

.bgimg {
  /* Background image */
  background-image: url('../public/pexels-photo-3584309.jpeg');
  /* Full-screen */
  /* background-image: url('https://images.pexels.com/photos/3584309/pexels-photo-3584309.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); */
  height: 100%;
  /* Center the background image */
  background-position: center;
  /* Scale and zoom in the image */
  background-size: cover;
  /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
  position: relative;
  /* Add a white text color to all elements inside the .bgimg container */
  color: white;
  /* Add a font */
  /* Set the font-size to 25 pixels */
  font-size: 35px;
}

/* Position text in the top-left corner */
.topleft {
  position: absolute;
  margin: 16px;
  width: 150px;
  height: 100px;
  border:10px;
  background-image: url('../public/JuanLogo.png');
  background-size: cover;
  background-repeat: no-repeat;
}

/* Position text in the bottom-left corner */
.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
  font-size:large;
}

/* Position text in the middle */
.middle {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the <hr> element */
hr {
  margin: auto;
  width: 50%;
}